html {
    font: 14px sans-serif; 
}

body { 
    position: relative;
    margin: 0 auto;
}


a:active,
a:hover {
    outline: 0;
    text-decoration: underline;
}

a {
    color: #337ab7;
    text-decoration: none;
}

h1 {
    font-size: 36px;
    font-weight: normal;
}

h2 {
    font-weight: normal;
}

b {
    font-weight: bold;
}

/* BUTTONS */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
  }

  .btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
  }


/* OTHER */
.wrapper { 
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.main-header {
    margin: 10% auto;
    text-align: center;
}

.info-table{
    border-collapse: collapse;
    margin: 0 auto;

}

th, td {
    border: 1px solid black;
    padding: 15px;
}

footer {
    text-align: center;
    margin: 50px;
}


/* Forms in Create & Edit page */


.create-update-forms {
    margin: 0 30%;
}

.create-update-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  

  /* Changing the Submit button */

  .create-update-submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
.create-update-submit:hover {
    background-color: #45a049;
  }
