html {
    font: 14px sans-serif; 
}

body { 
    position: relative;
    margin: 0;
}


a:active,
a:hover {
    outline: 0;
    text-decoration: underline;
}

a {
    color: #337ab7;
    text-decoration: none;
}

h1 {
    font-size: 36px;
}

b {
    font-weight: bold;
}

/* BUTTONS */
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn-info {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
  }



/* OTHER */
.wrapper { 
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.main-header {
    margin: 10% auto;
    text-align: center;
}

.info-table{
    border-collapse: collapse;
    margin: 0 auto;

}

th, td {
    border: 1px solid black;
    padding: 15px;
}
